
 .banner {
    height: 170px;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }

  .banner h3 {
    color: white;
    font-weight: bold;
    margin: 0;
  }

  .card-img-top {
    height: 290px;
    object-fit: cover;
  }