/* .box1, .box2, .box3, .box4 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    border: 2px solid black;} */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 15px;
    width: 100%;
}
